{
  "patient_identifiers": {
    "uuid": {
      "case_property": "external_id"
    }
  },
  "match_on_ids": [
    "uuid"
  ],
  "person_properties": {},
  "person_preferred_name": {},
  "person_preferred_address": {},
  "person_attributes": {},
  "doc_type": "OpenmrsCaseConfig",
  "import_creates_cases": false
}

